<html>

<head>
    <title>Todo List</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <h1>Todo List</h1>
        <div id="app"></div>
    </div>
    <template id="todo-list">
        <ul class="tasks">
            <li v-for="todo in todos" :class="{completed: todo.completed}" class="task" @click="toggleTodo(todo.id)"
                @dblclick="deleteTodo(todo.id)">{{todo.task}}</li>
        </ul>
    </template>
    <template id="app-template">
        <div>
            <form @submit.prevent="addTodo">
                <input class="todo-input" type="text" placeholder="Enter a new Task" v-model="task" />
            </form>
            <todo-list />
        </div>
    </template>
    <script src="https://unpkg.com/vue@2.5.3/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.min.js"></script>
    <script src="app.js"></script>
</body>

</html>